@use 'react-responsive-tools' as *;

@layer section {
  .TodayTask {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px;

    .title {
      font-weight: 600;
      font-size: 14px;
      line-height: 22px;
      color: var(--text-secondary);
      margin: 0;
    }

    .content {
      display: flex;
      flex-flow: row nowrap;
      gap: 8px;
      align-items: center;
    }

    .divider {
      height: 86px;
      width: 1px;
      border-color: var(--bg-tertiary);
    }
  }
}
