@use 'react-responsive-tools' as b;

@layer base {
  .MainLayout {
    display: flex;
    max-height: 100vh;
    width: 100vw;

    .inner {
      flex: 1;
      padding: 14px;
      display: flex;
      flex-direction: column;
      overflow: hidden;
    }
  }
}
